RAILWAY_TOKEN=your_token_here
DEBUG=False
DJANGO_SETTINGS_MODULE=AadhityaaBackend.settings

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=b.niyonseng@alustudent.com
EMAIL_HOST_PASSWORD=tbkqmbkbzrtwljsx